.menu {
  display: grid;
  width: 100%;
  grid-template-areas:
    "logo cta"
    "link link";
  grid-template-columns: 50% 50%;
  background: $color-white;
  padding: 20px 15px;
  padding-bottom: 0px;

  ul {
    list-style: none;
    display: flex;
    margin: 0px;
  }

  z-index: 999;
}
.menu-logo {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h1 {
    margin: 0px;
  }
}

.menu-fixed {
  position: fixed;
}

.menu-links {
  grid-area: link;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  a {
    color: $font-color-primary;
    text-decoration: none;
    margin: auto 15px;
  }
  transition: 3s ease-in-out;
}

.menu-icon {
  width: 25px;
  margin: 0px 5px;
}

.menu-links-hide {
  display: none;
}
.menu-cta {
  grid-area: cta;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .menu {
    grid-template-areas: "logo link cta";
    grid-template-columns: 150px 1fr 150px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
