.supporters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 60px;

  .supporter {
    width: 120px;
    height: 120px;
    background: red;
    border-radius: 50%;
    margin: auto 15px;
    background-image: url("https://via.placeholder.com/200x200?text=Perfil");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
